.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  text-align: center;
}

.icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
}

.message {
  color: #888;
  max-width: 400px;
}
